.App {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
}

.AppHeader h1{
  text-align: center;
}

.BudgetTrackerContainer {
  display: flex;
  flex-direction: row;
}

.HorizontalStack {
  display: flex;
  flex-direction: row;
}

.VerticalStack {
  display: flex;
  flex-direction: column;
}

.Section {
  padding-left: 40px;
  padding-right: 40px;

}