html, body {
  margin: 0;
  padding: 0;
  height: 100%;  
  background-color: #cbe9dac9; 
}

.App {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
}

.AppHeader {
  color: black;
}

.BudgetTrackerContainer {
  display: flex;
  justify-content: space-between;
  /* margin-top: 20px; */
}

.HorizontalStack {
  display: flex;
  width: 70%;
}

.VerticalStack {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.ComponentBox {
  flex-grow: 1;
  /* padding: 20px; */
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.TransactionsComponent {
  width: 80%;
}

.ExpensesComponent,
.IncomeComponent {
  width: 100%;
  height: 40vh;
}

.TransactionsTotalsContainer {
  display: flex;
  justify-content: space-between;

}

.TransactionBox {
  width: 30%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
}

.TransactionBox h3 {
  font-size: 16px;
}

.TransactionsTable {
  width: 100%;
  border-collapse: collapse;
}

.TransactionsTable th,
.TransactionsTable td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.TransactionsTable th:nth-child(1),
.TransactionsTable td:nth-child(1) {
  width: 50%;
}

.TransactionsTable th:nth-child(2),
.TransactionsTable td:nth-child(2) {
  width: 30%;
}

.TransactionsTable th:nth-child(3),
.TransactionsTable td:nth-child(3) {
  width: 20%;
}

.TransactionsTable th {
  background-color: #f4f4f4;
}

.TransactionsTable td {
  background-color: #fff;
}

.TransactionsTable button {
  padding: 8px 12px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.TransactionsTable button:hover {
  background-color: darkred;
}

.user-actions {
  max-width: 360px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.user-actions input[type="text"],
.user-actions input[type="password"] {
  width: 95%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.user-actions button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.user-actions button:hover {
  background-color: #0056b3;
}

.user-actions p {
  text-align: center;
  color: #666;
}

.error-message {
  color: red !important;
  font-size: 14px;
  text-align: center;
}

input[type="text"],
input[type="number"],
input[type="date"] {
  padding: 6px;
  margin: 2px auto;
  width: 300px;
  display: block;
}

.submitButton {
  padding: 6px 20px;
  width: 316px;

  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.submitButton:hover {
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 5px;
}

.ExpensesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
}

.IncomeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.SelectBoxContainer {
  padding: 10px;
}

.select-box {
  padding: 10px;
  width: 200px;
  
}